{% extends '_base.html' %}

{% block page_title %}A propos{% endblock %}

{% block body_content %}
<div id="content">
    <div>
        <div>
            <center><h1>A propos Django Recipes</h1></center>
        </br>
        <p>Bienvenue sur Django Recipes, un site web réalisé par un groupe (Adel Mezara / Alexandre Joly) du Master I2L (2016-2017) dans le but de partager de très bonnes recettes de cuisines.
        </br>
        </br>
        Réalisé à l'aide du framework Django et de plusieurs librairies, nous avons cherché à façonner le site de manière à ce que vous puissiez trouver et partager très simplement différentes recettes.
        <br/>
        <br/>
        Alors n'hésitez plus, rejoignez la communauté Django Recipes, partagez vos recettes, essayez celles des autres et profitez d'une multitude d'idées. Pas de temps à perdre, aux fourneaux !
        <br/>
        <br/>
            <b>La Rédaction.</b></p>
        </div>
    </div>
</div>
{% endblock %}