{% extends '_base.html' %}

{% block page_title %}Catégories{% endblock %}

{% block body_content %}
<div class="footer">
    <ul>
        <li>
            <h2><a href="#">Entrées</a></h2>
            <a href="#"><img src="/static/images/featured.jpg" alt="Image"></a>
        </li>
        <li>
            <h2><a href="#">Plats</a></h2>
            <a href="#"><img src="/static/images/a-z.jpg" alt="Image"></a>
        </li>
    </ul>
    <ul>
        <li>
            <h2><a href="#">Desserts</a></h2>
            <a href="#"><img src="/static/images/videos.jpg" alt="Image"></a>
        </li>
    </ul>
</div>
{% endblock %}