{% extends '_base.html' %}

{% block page_title %}Catégories{% endblock %}

{% block body_content %}
<div class="footer">
    <ul>
        <li>
            <h2><a href="{% url 'recipesWebsite:listRecipe' %}?type=E">Entrées</a></h2>
            <a href="{% url 'recipesWebsite:listRecipe' %}?type=E"><img src="/static/images/entrees.jpg" alt="Image"></a>
        </li>
        <li>
            <h2><a href="{% url 'recipesWebsite:listRecipe' %}?type=P">Plats</a></h2>
            <a href="{% url 'recipesWebsite:listRecipe' %}?type=P"><img src="/static/images/plats.jpg" alt="Image"></a>
        </li>
    </ul>
    <ul>
        <li>
            <h2><a href="{% url 'recipesWebsite:listRecipe' %}?type=D">Desserts</a></h2>
            <a href="{% url 'recipesWebsite:listRecipe' %}?type=D"><img src="/static/images/desserts.jpg" alt="Image"></a>
        </li>
    </ul>
</div>
{% endblock %}