{% extends '_base.html' %}

{% block page_title %}Django Recipes{% endblock %}
{% block body_content %}
<div class="body">
    {% for obj in results %}
        {% if forloop.first %}
            <div>
                <a href="{% url 'recipesWebsite:showRecipe' obj.id %}">
                    {% with obj.recipeattachment_set.all|first as image %}
                        <img src="/media/{{ image.file }}" width="708" height="425" alt="Image"/>
                    {% endwith %}
                </a>
            </div>
        {% endif %}

        {% if forloop.first %}<ul>{% endif %}
            <li {% if forloop.first %} class='current'{% endif %}>
                <a href="{% url 'recipesWebsite:showRecipe' obj.id %}">
                    {% with obj.recipeattachment_set.all|first as image %}
                        <img src="/media/{{ image.file }}" width="60" height="60" alt="Image"/>
                    {% endwith %}
                </a>
                <div>
                    <h2><a href="{% url 'recipesWebsite:showRecipe' obj.id %}">{{ obj.name }}</a></h2>
                    <p>
                        {{ obj.get_type_display }}
                    </p>
                    <p>
                        {{ obj.get_difficultyLevel_display }}
                    </p>
                </div>
            </li>
        {% if forloop.last %}</ul>{% endif %}
    {% endfor %}
</div>
{% endblock %}