{% extends '_base.html' %}

{% block page_title %}Django Recipes{% endblock %}
{% block body_content %}
<div class="body">
				<div>
					<a href="#"><img src="/static/images/turkey.jpg" alt="Image"></a>
				</div>
				<ul>
					<li class="current">
						<a href="#"><img src="/static/images/holi-turkey.jpg" alt="Image"></a>
						<div>
							<h2><a href="#">Holy Turkey</a></h2>
							<p>
								This is just a place holder
							</p>
						</div>
					</li>
					<li>
						<a href="#"><img src="/static/images/fruits-and-bread.jpg" alt="Image"></a>
						<div>
							<h2><a href="#">Fruits &amp; Bread</a></h2>
							<p>
								This is just a place holder
							</p>
						</div>
					</li>
					<li>
						<a href="#"><img src="/static/images/dessert.jpg" alt="Image"></a>
						<div>
							<h2><a href="#">Dessert</a></h2>
							<p>
								This is just a place holder
							</p>
						</div>
					</li>
				</ul>
</div>
{% endblock %}