<!DOCTYPE html>
{%  load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'star-ratings/css/star-ratings.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="{% static 'star-ratings/js/dist/star-ratings.min.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <link rel="shortcut icon" type="image/png" href="/static/images/favicon.ico"/>

    <title>{% block page_title %}{% endblock %}</title>
</head>
<body>
    <div class="header">
		<div>
			<center><a href="{% url 'recipesWebsite:index' %}"><img src="/static/images/djangorecipes_logo.png" alt="Logo"></a></center>
		</div>
        <form action="{% url 'recipesWebsite:listRecipe' %}" method="get">
            <input type="text" name="name__icontains" id="search" placeholder="Rechercher parmi nos meilleures recettes du Master I2L">
            <input type="submit" value="" id="searchbtn">
        </form>
	</div>
    <div class="body">
        <div>
			<div class="header">
				<ul>
                    {% url 'recipesWebsite:index' as index %}
                    {% if request.get_full_path == index %}<li class="current">{% else %}<li>{% endif %}
						<a href="{% url 'recipesWebsite:index' %}">Accueil</a>
					</li>
                    {% url 'recipesWebsite:categories' as categories %}
                    {% if request.get_full_path == categories %}<li class="current">{% else %}<li>{% endif %}
						<a href="{% url 'recipesWebsite:categories' %}">Catégories</a>
					</li>
					{% url 'recipesWebsite:listRecipe' as listRecipe %}
                    {% if request.get_full_path == listRecipe %}<li class="current">{% else %}<li>{% endif %}
						<a href="{% url 'recipesWebsite:listRecipe' %}">Recettes A-Z</a>
					</li>
                    {% if request.get_full_path == "/djangoRecipes/listRecipe/?top10" %}<li class="current">{% else %}<li>{% endif %}
						<a href="/djangoRecipes/listRecipe/?top10">TOP 10</a>
					</li>
                    {% url 'recipesWebsite:about' as about %}
                    {% if request.get_full_path == about %}<li class="current">{% else %}<li>{% endif %}
						<a href="{% url 'recipesWebsite:about' %}">A propos</a>
					</li>
				</ul>
			</div>
            {% block body_content %}{% endblock %}
		</div>
        <div>
            {% if request.user.is_authenticated %}
            <div>
				<a href="{% url 'recipesWebsite:addRecipe' %}"><img src="/static/images/addRecipe.png" height="100" width="200"></a>
			</div>
            {% else %}
            <div>
				<a href="{% url 'recipesWebsite:userLogin' %}"><img src="/static/images/login.png" height="auto" width="200"></a>
			</div>
            {% endif %}
			<div>
				<ul id="featured">
					{% if topRecipe %}
						<h3>Top Recette</h3>
						<li>
							<a href="{% url 'recipesWebsite:showRecipe' topRecipe.id %}">
								{% with topRecipe.recipeattachment_set.all|first as image %}
									<img src="/media/{{ image.file }}" width="77" height="77"/>
								{% endwith %}
							</a>
							<div>
								<h2><a href="{% url 'recipesWebsite:showRecipe' topRecipe.id %}">{{ topRecipe.name }}</a></h2>
								<span>by: {{ topRecipe.user.username }}</span>
							</div>
						</li>
					{% endif %}

					{% if randomRecipes %}
						<h3>Idées Recettes</h3>
						{% for obj in randomRecipes %}
						<li>
							<a href="{% url 'recipesWebsite:showRecipe' obj.id %}">
								{% with obj.recipeattachment_set.all|first as image %}
									<img src="/media/{{ image.file }}" width="77" height="77"/>
								{% endwith %}
							</a>
							<div>
								<h2><a href="{% url 'recipesWebsite:showRecipe' obj.id %}">{{ obj.name }}</a></h2>
								<span>by: {{ obj.user.username }}</span>
							</div>
						</li>
						{% endfor %}
					{% endif %}
				</ul>
			</div>
            <div>
                <center>
                    {% if request.user.is_authenticated %}
                        <h5>Connecté en tant que :
                        <b>{{ request.user.username }}</b></h5>
				    	<a href="{% url 'recipesWebsite:userLogout' %}"><img src="/static/images/logout.png" height="auto" width="200"></a>
					{% endif %}
                </center>
			</div>
		</div>
    </div>
	<div class="footer">
		<div>
			<p>
				Copyright &copy;  All rights reserved
			</p>
		</div>
	</div>
</body>
</html>