{% extends '_base.html' %}

{% block body_content %}

<h1>Recettes</h1>

<a href="{% url 'recipesWebsite:addRecipe' %}">Ajouter une recette</a>
</br>

{% for obj in results %}
<ul>
    <li>
        <a href="{% url 'recipesWebsite:showRecipe' obj.id %}">{{ obj.name }}</a>
        -
        {{ obj.user.username }}
        {% if request.user.is_authenticated and obj.user.id == request.user.id %}
        <a href="{% url 'recipesWebsite:editRecipe' obj.id %}">Modifier</a>
        <a href="{% url 'recipesWebsite:deleteRecipe' obj.id %}">Supprimer</a>
        {% endif %}
    </li>
</ul>
{% empty %}
    Aucune recette disponible
{% endfor %}

{% if results.has_other_pages %}
<ul class="pagination">
    {% if results.has_previous %}
        <li><a href="?page={{ results.previous_page_number }}">&laquo;</a></li>
    {% else %}
        <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in results.paginator.page_range %}
    {% if results.number == i %}
    <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
    {% else %}
    <li><a href="?page={{ i }}">{{ i }}</a></li>
    {% endif %}
    {% endfor %}
    {% if results.has_next %}
    <li><a href="?page={{ results.next_page_number }}">&raquo;</a></li>
    {% else %}
    <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
</ul>
{% endif %}

{% endblock %}