{% extends '_base.html' %}

{% block page_title %}Liste des recettes{% endblock %}

{% block body_content %}
    <div class="body">
        <div id="content">
            <div>
                <ul>
                    {% for obj in results %}
                    <li>
                        <a href="{% url 'recipesWebsite:showRecipe' obj.id %}">
                            {% with obj.recipeattachment_set.all|first as image %}
                                <img src="/media/{{ image.file }}" width="100" height="100"/>
                            {% endwith %}
                        </a>
                        <div>
                            <h3><a href="{% url 'recipesWebsite:showRecipe' obj.id %}">{{ obj.name }}{% if obj.ratings.get.average > 0 %}
                                 -  {{ obj.ratings.get.average }}/5</a>
                                {% endif %}</h3>
                            <p>
                                {{ obj.description }}
                            </p>
                        </div>
                    </li>
                    {% empty %}
                        Aucune recette disponible
                    {% endfor %}
                </ul>
                {% if results.has_other_pages %}
                <ul class="pagination">
                    {% if results.has_previous %}
                        <li><a href="?page={{ results.previous_page_number }}">&laquo;</a></li>
                    {% else %}
                        <li class="disabled"><span>&laquo;</span></li>
                    {% endif %}
                    {% for i in results.paginator.page_range %}
                    {% if results.number == i %}
                    <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                    {% else %}
                    <li><a href="?page={{ i }}">{{ i }}</a></li>
                    {% endif %}
                    {% endfor %}
                    {% if results.has_next %}
                    <li><a href="?page={{ results.next_page_number }}">&raquo;</a></li>
                    {% else %}
                    <li class="disabled"><span>&raquo;</span></li>
                    {% endif %}
                </ul>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}