{% extends '_base.html' %}
{% load widget_tweaks %}

{% block page_title %}Informations de la recette{% endblock %}

{% block body_content %}
<div id="content">
    <div>
        <div>
        <center><h1>Informations concernant la recette</h1></center>
        <div>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
                </br><li><label>{{ form.name.label }} :</label>
                {{ form.name|attr:'class:form-control'|attr:'placeholder:Nom de la recette' }}</li>
                </br><li><label>{{ form.type.label }} :</label>
                    {{ form.type|attr:'class:form-control' }}</li>
                </br><li><label>{{ form.difficultyLevel.label }} :</label>
                    {{ form.difficultyLevel|attr:'class:form-control' }}</li>
                </br><li><label>{{ form.cost.label }} :</label>
                    {{ form.cost|attr:'class:form-control'|attr:'placeholder:Coût de la recette' }}</li>
                </br><li><label>{{ form.prepareTime.label }} :</label>
                    {{ form.prepareTime|attr:'class:form-control'|attr:'placeholder:Temps de préparation en minutes' }}</li>
                </br><li><label>{{ form.cookTime.label }} :</label>
                    {{ form.cookTime|attr:'class:form-control'|attr:'placeholder:Temps de cuisson en minutes' }}</li>
                </br><li><label>{{ form.restTime.label }} :</label>
                    {{ form.restTime|attr:'class:form-control'|attr:'placeholder:Temps de repos en minutes' }}</li>
                </br><li><label>{{ form.steps.label }} :</label>
                    {{ form.steps|attr:'class:form-control'|attr:'placeholder:Décrivez les étapes de préparation de votre recette' }}</li>
                </br><li><label>{{ form.ingredientList.label }} :</label>
                    {{ form.ingredientList|attr:'class:form-control'|attr:'placeholder:Veuillez indiquer les ingrédients qui seront utilisés' }}</li>
                </br><li><label>Fichiers : </label>
                <input type="file" name="files" required="" id="id_files" multiple="multiple">
                </li>
        </br>
        </br>
            <center><input type="submit" value="Valider"/></center>
        </form>
        </div>
            </div>
    </div>
</div>
{% endblock %}