{% extends '_base.html' %}

{% block page_title %}User Registration{% endblock %}

{% block body_content %}
    <br/>

    <center><h1> Bienvenue sur Django Recipes<br/>
            Veuillez créer votre compte : </h1></center>

    <br/>

    <form action="{% url 'recipesWebsite:userRegistration' %}" method="post">
        <fieldset>
            <legend> Vos informations  :</legend>
            <br/>
            {% csrf_token %}
            {{ form.as_p }}
            <br/>
            <center><input type="submit" value="Submit"/></center>
        </fieldset>
    </form>

{% endblock %}